@tailwind base;
@tailwind components;
@tailwind utilities;

.bio p {
    font-size: .8rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

::selection {
    background-color: #E2815A;
    color: #111827;
}